<br>
<div id="newShedule">
    <h4 id="newJob">Shedule a new Job</h4>
    <div class="container">
        <form [formGroup]="schedulerForm" novalidate autocomplete="off">
            <div class="row">
                <div class="col-25">
                    <h4>Enter Job Name<span style="color:red;">*</span> : </h4>
                </div>
                <div class="col-75">
                    <input type="text" name="jobName" formControlName="jobName" required pattern="[a-zA-Z]+" />
                    <small *ngIf="!jobName.pristine && jobName.hasError('required')" class="text-danger">Name is required</small>
                    <small *ngIf="!jobName.pristine && jobName.hasError('pattern')" class="text-danger">Only alphabets allowed</small>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-25">
                    <h4>Select a task<span style="color:red;">*</span> : </h4>
                </div>
                <div class="col-75">

                    <select id="task" required (change)="startTaskChange($event.target.value)" class="form-control" style="width:175px;" formControlName="selectCron">
                        <option value=""></option>
                        <option *ngFor="let task of tasks" value= {{task.launch_url}},{{task.taskKey}}>{{task.taskKey}}</option>
                    </select>
                    <small *ngIf=" !selectCronVal.pristine && selectCronVal.hasError('required')" class="text-danger">Task is required</small>
               </div>
            </div>

            <div>
                <h4 style="padding-left:0px;">Enter Date and Time<span style="color:red;">*</span> : </h4>
            </div>
            <table>
                <tr>
                    <td>
                        Year:
                        <input type="text" name="year" id="year" placeholder="yyyy" class="form-control" formControlName="year" style="width:100px"
                        required pattern="(?:20\d{2})" maxlength="4"/>
                        <small *ngIf="year.hasError('required')" class="text-danger">Year is required</small>
                        <small *ngIf="year.hasError('pattern')" class="text-danger">Range 200*-202*</small>
                    </td>
                    <td>
                        Month:
                        <input type="text" name="month" id="month" required pattern="(?:[1-9]|1[0-2])"  maxlength="2" placeholder="MM" class="form-control" formControlName="month" style="width:100px"
                        />
                        <small *ngIf="month.hasError('required')" class="text-danger">Month is required</small>
                        <small *ngIf="month.hasError('pattern')" class="text-danger">Range 01 to 12</small>
                    </td>
                    <td>
                        Day:
                        <input type="text" name="day" id="day" required pattern="(?:[1-9]|[12][0-9]|3[01])" placeholder="dd" maxlength="2" class="form-control" formControlName="day" style="width:100px" 
                       />
                       <small *ngIf="day.hasError('required')" class="text-danger">Day is required</small>
                       <small *ngIf="day.hasError('pattern')" class="text-danger">Range 01-31</small>
                      
                    </td>
                    <td>
                        Hour(24-hour):
                        <input type="text" name="hour" id="hour" required pattern="(?:0[1-9]|[12][0-3]|[0-1]?[0-9])" placeholder="HH" maxlength="2" class="form-control" formControlName="hour" style="width:100px"
                        />
                        <small *ngIf="hour.hasError('required')" class="text-danger">Hour is required</small>
                        <small *ngIf="hour.hasError('pattern')" class="text-danger">Range 00 to 23</small>
                    </td>
                    <td>
                        Minute:
                        <input type="text" name="minute" id="minute" required pattern="(?:0[1-9]|[12][0-9]|3[0-9]|4[0-9]|5[0-9]|[0-1]?[0-9])" placeholder="mm" maxlength="2" class="form-control" formControlName="minute" style="width:100px"
                        />
                        <small *ngIf="minute.hasError('required')" class="text-danger">Minutes is required</small>
                        <small *ngIf="minute.hasError('pattern')" class="text-danger">Range 00 to 59</small>
                    </td>
                </tr>
            </table>
            <br>
            <div>
                <h4 style="padding-left:0px;">Select A Scheduler Type<span style="color:red;">*</span> : </h4>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" (change)="cronFlag=false" value="oneTimeSchedule" checked name="scheduleType" formControlName="scheduleType">One Time Schedule</label>
                <label>
                    <input type="radio" (change)="cronFlag=true" value="cronSchedule" name="scheduleType" formControlName="scheduleType">Cron Schedule</label>
            </div>

            <div *ngIf="cronFlag">
                <table>
                    <tr>
                        <td>
                            Select a cron schedule : &nbsp;
                        </td>
                        <td>
                            <select (change)="cronChange($event.target.value)" class="form-control" >
                                <option value="0 0/5 * 1/1 * ? *">Every 5 minutes</option>
                                <option value="0 0/30 * 1/1 * ? *">Every 30 minutes</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="buttonAction">
                <table id="butonTab">
                    <tr>
                        <td colspan="2">
                            <!-- Used only in case of Adding New Job -->
                            <input type="button" style="margin-bottom:45px;" name="submit" id="submit" [disabled]="!schedulerForm.valid" (click)="scheduleJob()" *ngIf="!isEditMode"
                                value="Submit" />

                            <input type="button" style="margin-bottom:45px;" name="submit" id="submit" (click)="cancelEdit()" value="Clear"
                            />
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div class="my-alert-center-style center_div">
    <nac-alert-center [animation]="'fancy'" [htmlTextEnabled]="true"></nac-alert-center>
</div>