<br>
<div id="newShedule">
    <h4 class="newJob">Edit An Existing Job</h4>
    <div class="container">
        <form [formGroup]="editForm" novalidate autocomplete="off">
            <div class="row">
                <div class="col-25">
                    <h4>Enter Job Name:</h4>
                </div>
                <div class="col-75">
                    <input type="text" name="jobName" formControlName="jobName" readonly="true" />
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-25">
                    <h4>Task:</h4>
                </div>
                <div class="col-75">
                    <input type="text" name="groupName" formControlName="groupName" readonly="true" />
                </div>
            </div>

            <div>
                <h4 style="padding-left:0px;">Enter Date and Time<span style="color:red;">*</span> : </h4>
            </div>
            <table>
                <tr>
                    <td>
                        Year:
                        <input type="text" name="year" id="year" placeholder="yyyy" maxlength="4" class="form-control" formControlName="year" style="width:100px"
                        />
                    </td>
                    <td>
                        Month:
                        <input type="text" name="month" id="month" placeholder="MM" maxlength="2" class="form-control" formControlName="month" style="width:100px"
                        />
                    </td>
                    <td>
                        Day:
                        <input type="text" name="day" id="day" placeholder="dd" maxlength="2" class="form-control" formControlName="day" style="width:100px"
                        />
                    </td>
                    <td>
                        Hour(24-hour):
                        <input type="text" name="hour" id="hour" placeholder="HH" maxlength="2" class="form-control" formControlName="hour" style="width:100px"
                        />
                    </td>
                    <td>
                        Minute:
                        <input type="text" name="minute" id="minute" placeholder="mm" maxlength="2" class="form-control" formControlName="minute"
                            style="width:100px" />
                    </td>
                </tr>
            </table>
            <br>
            <div>
                <h4 style="padding-left:0px;">Schedule Details</h4>
            </div>
            <div class="row" *ngIf="cronFlag==false">
                <div class="col-25" >
                    <h4 style="font-size: small;font-weight: normal;">Cron Schedule Time</h4>
                </div>
                <div class="col-75">
                    <input type="text" name="cronExpr" formControlName="cronExpr" readonly="true" />
                </div>
            </div>
            <div class="row" *ngIf="cronFlag==true">
                <div class="col-25">
                    <h4 style="font-size: small;font-weight: normal;">One Time Schedule</h4>
                </div>
            </div>
            <div class="buttonAction">
                <table class="butonTab">
                    <tr>
                        <td style="padding: 5px;" colspan="2">

                            <!-- Used only in case of Edit Job -->
                            <input type="button" name="submit" style="margin-bottom:45px;" id="submit" (click)="updateJob()" value="Update" />

                            <input type="button" name="submit" style="margin-bottom:45px;" id="submit" (click)="cancelEdit()" value="Cancel" />
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>